.container {
  background-color: lightblue;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

.header,
.footer {
  background-color: lightseagreen;
  flex-grow: 1;
}

.main {
  flex-grow: 7;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.left-side {
  background-color: lightgreen;
  flex-grow: 1;
}

.right-side {
  background-color: rgb(233, 152, 53);
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  flex-grow: 1;
}

.article-bottom {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 0 30px 30px 30px;
}

.image {
  flex-grow: 1;
  background-color: bisque;
}
